<nav-bar></nav-bar>
<app-home-grid *ngIf="homeGrid"></app-home-grid>
<app-product-detail [ISBN] = 'ISBN' *ngIf="productDetail"></app-product-detail>
<app-grid-search [searchPass] = 'searchPass'  *ngIf="gridSearch"></app-grid-search>
<app-grid-category [categoryId] = 'categoryId'  *ngIf="gridCategory"></app-grid-category>
<app-autor *ngIf="autor"></app-autor>
<app-about-us *ngIf="aboutUs"></app-about-us>
<app-book-autor *ngIf="bookAutor" [autorId] = 'autorId'></app-book-autor>
<app-footer></app-footer>