Se o e-mail já estiver cadastrado... 
<div align="center">
	<h2>Finalizar Compra?</h2>
	Confirme a veracidade dos seus dados!<br><br>
	<form action="action_page.php">
		<label for="fname">Campo 1</label><br>
		<input type="text" id="" name="" placeholder="Campo 1" disabled><br>
		<label for="fname">Campo 2</label><br>
		<input type="text" id="" name="" placeholder="Campo 2" disabled><br>
		<label for="fname">Campo 3</label><br>
		<input type="text" id="" name="" placeholder="Campo 3" disabled><br>

		<input type="button" class="btn" align="center" value="Finalizar" (click)="goHistory()">

	</form>
</div>

Se NÃO estiver cadastrado...

<div align="center">
	<h2>Finalizar Compra?</h2>
	Cadastre seus dados para finalizar a compra!<br><br>
	<form action="action_page.php">
		<label for="fname">Campo 1</label><br>
		<input type="text" id="" name="" placeholder="Campo 1" ><br>
		<label for="fname">Campo 2</label><br>
		<input type="text" id="" name="" placeholder="Campo 2" ><br>
		<label for="fname">Campo 3</label><br>
		<input type="text" id="" name="" placeholder="Campo 3" ><br>

		<input type="button" class="btn" align="center" value="Finalizar" (click)="goHistory()">

	</form>
</div>
