<h2>Resultados a partir de: {{searchPass}}</h2>
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Titulo do Livro</mat-card-title>
                <mat-card-subtitle>ISBN</mat-card-subtitle>
            </mat-card-header>
            <div align='center'>
                <img mat-card-md-image
                    src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/0131428985.01.THUMBZZZ.jpg"
                    alt="Photo of a Shiba Inu">
            </div>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <h3 align='center'>Preço: R$ 30.00</h3>
            <mat-card-actions align='center'>
                <button mat-button (click)="viewProduct()">Veja mais detalhes</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>